:root{ /* variables for later use */
    --hover: #FFFF00;
    --offwhite:#f8f8ff;
    --opblack:rgba(0, 0, 0, 0.5);
    --opwhite:rgba(255 ,255 ,255 ,0.5);
    
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--offwhite);
    font-family: monospace;
}
.main{
    display:inline-block;
    width: 100%;
    margin-top: 2.5%;
    }
.about-me{
    display:inline-block;
    width: 100%;
    margin-bottom: 10%;
    
}
 .flex {
    width: 100%;
    height:500px;
    display: flex;
    flex-wrap: wrap;
    overflow:auto;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
    margin-bottom: 20%;
    flex-direction: row;
   }



body {
    background-image:linear-gradient(to left,#29323c, #485563);
   }
header{ /*geneva skyline*/
    margin-left: 20px;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 120px;
    background-image:url(./images/genevea.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

header h1 { /*my initials (might replace with art later)*/
   display: inline-block;
   margin-top: 70px;
   float: left;
   font-size: 40px;
   font-weight: bold;
   
}
header h1:hover{ /*change color to yellow on mouse hover*/
    color: var(--hover);
}

nav  {  /*navigation at top*/
    display: inline-block;
    margin-right:20px;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

nav ul {   /*navigation at top*/
    margin-top: 70px;
    margin-right: 20px;
    float:right;
    list-style-type: none;    
} 
nav ul li { /*navigation at top*/
    display: inline-block;
    margin-left: 10px;
}
nav ul li a{ /*navigation at top*/
    text-decoration: none;
}
nav ul a:hover{ /*change color to yellow on mouse hover*/
    color:var(--hover);
}
nav ul a:focus{ /*change border color to yellow on focus*/
    color:var(--hover);
}
article { /*content on right of screen*/
    justify-content: center;
    clear:both;
    border-radius: 12px;
    margin-bottom: 2.5%;
    margin-right: 20px;
    position: absolute;
    display:inline-block;
    width: 65%;
    padding: 1%;
    height: 300px;
    background-color: var(--opblack); 
    font-size: 20px;
    overflow: auto;
}
aside { /*content on left of screen*/
    border-radius:12px;
    margin-bottom: 2.5%;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    padding: 2%;
    clear: both;
    float: left;
    width: 30%;
    height: 300px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    background-color: var(--opblack);
}
aside p{ /*left side content text*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bigimg { /*main work image*/
    position: absolute;
    display: inline-block;    
    border-radius: 13px;
    border: 2px solid black;
    height: 500px;
    margin-bottom: 2%;
    border: 10%;
    width: 65%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/batman.png")  
}
.bigimg:hover{ /*change border color to yellow on mouse hover*/
    border:2px solid var(--hover);
}
.bigimg:active{ /*change border color to yellow on focus*/
    border:2px solid var(--hover);
}

.bigimg:hover .overlay {  /*overlay properties to big image on mouse hover*/
    width: 100%;
    left: 0;
 }
 .bigimg p { /*text overlay on big image*/
     
     font-style: italic;
     display:table;
     background-color: black;
     color: white
 }

.overlay{ /*overlay properties to big image on mouse hover*/
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-image:linear-gradient(to right,#29323c, #485563);
    opacity:.75;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay p { /*overlay properties to big image TEXT on mouse hover*/
    white-space: nowrap;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
 }
.workbox{ /*flexbox containing work links*/
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 20px;
    display:flex;
    flex-direction: row;
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow:hidden;
}
.card { /*cards within flexbox*/
    border: 2px solid black;
    align-items: center;
    margin: .5%;
    border-radius: 13px;
    width: 250px;
    flex: 0 0 300px;
    overflow: hidden;
}
.card p { /*text on cards*/
    position:relative;
    font-style: italic;
    background-color: black;
    color: white
}
 .card img { /*images in cards*/
    flex: 1 0 400px;
    height:200px;
    /* max-height: 100%;
    min-width: 100%; */
    object-fit: cover;
    vertical-align: bottom;   
}
 .card:hover  { /*change border color to yellow on mouse hover*/
    border: 2px solid var(--hover);
 }
 footer{ /*sticky footer with contact links/info*/
    position:fixed;
    padding: 10px 10px 0px 10px;
    margin-top: 10%;
    background-color:var(--opwhite);
    bottom: 0;
    font-size: 40px;
    width:100%;
    height:100px;
}
footer h1{ /*contact me in footer*/
    display: block;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    color:black;
}
footer nav  {   /*contact links*/
    display: block;
    margin-right:20px;
    float: right;
    margin-top: 0%;
    font-size: 40px;
    font-weight: bold;
    
}

footer nav ul {  /*contact links*/
    float:right;
    list-style-type: none;  
    margin-right: 20px; 
    margin-top:0%;
    width: 100%; 
}
footer nav ul li {/*contact links*/
    display: inline-block;
    margin-left: 10px;
}
footer nav ul li a{/*contact links*/
    text-decoration: none;
}
footer nav ul a:hover{ /*change border color to yellow on mouse hover, irrelevant while using images*/
    color:var(--hover);
}
footer nav ul a:focus{/*change border color to yellow on focus, irrelevant while using images*/
    color:var(--hover);
}


@media screen and (max-width: 768px) {
    .workbox,
    .card,
    .card img {
         flex-direction: column;
         flex-wrap:wrap;
        flex: 2 0 500;
    }
}

@media screen  and (max-width: 768px) {
    .nav{
        font-size 30px;
    }
    
}
